<p class="lead">登录你的帐号</p>
<p ng-model="errorMsg">{{errorMsg}}</p>
<form class="form-horizontal" ng-controller="LoginCtrl" name="loginForm">
    <div class="form-group">
        <label  class="col-sm-3 control-label">帐号：</label>
        <div class="col-sm-7">
            <input type="email" class="form-control"  ng-model="user.email" placeholder="Email" ng-maxlength="32" focus required>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">密码：</label>
        <div class="col-sm-7">
            <input type="password" ng-model="user.password" class="form-control"  placeholder="Password" ng-minlength="6" ng-maxlength="16" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <div ng-show="msg" class="btn-danger">
                 {{msg}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="btn btn-primary btn-block"
                    ng-disabled="!loginForm.$valid"
                    ng-click="login()">登入</button>
        </div>
    </div>
</form>
</p>